<div class="row">

  <div 	class="col-md-10 col-md-offset-1" 
  			ng-controller="driverListCtrl" 
  			ng-init='init( <%-JSON.stringify(data)%> )'>

  	<button type="button" class="btn btn-primary btn-sm pull-right"
  					ng-click="addDriverClick()">
  		<i class="icon-plus"></i> Добавить
  	</button>
	  <h2>Пилоты</h2>


		<table ng-show="drivers.length" class="table table-condensed table-hover table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Имя</th>
					<th>Ник</th>
					<th>Email</th>
					<th>Телефон</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="driver in drivers">
					<td>{{driver.id}}</td>
					<td>{{driver.name}}</td>
					<td><em>{{driver.nick}}</em></td>
					<td>{{driver.email}}</td>
					<td>{{driver.tel}}</td>
					<td>
						<a href="" ng-click="editDriverClick(driver)"><i class="icon-edit"></i></a>
					</td>
				</tr>
			</tbody>
		</table>  	

		<div ng-hide="drivers.length" class="alert alert-info">
			<strong>Нет данных.</strong> Возможно следует <a href="" ng-click="addDriverClick()">добавить пилота</a>?
		</div>

  </div>
</div>