<div class="row">

  <div 	class="col-md-10 col-md-offset-1" 
  			ng-controller="driverListCtrl" 
  			ng-init='init( <%-JSON.stringify(data)%> )'>

  	<button type="button" class="btn btn-primary btn-sm pull-right"
  					ng-click="addDriverClick()">
  		<i class="icon-plus"></i> Добавить
  	</button>
	  <h2>Пилоты</h2>


		<table class="table table-condensed table-hover table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Ник</th>
					<th>Имя</th>
					<th>Email</th>
					<th>Телефон</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td>auto</td>
					<td>Пуп</td>
					<td>Василий Пупкин</td>
					<td>pup@mail.ru</td>
					<td>+7 921 555 5555</td>
					<td></td>
				</tr>

				<tr ng-repeat="driver in drivers">
					<td>{{driver.id}}</td>
					<td>{{driver.nick}}</td>
					<td>{{driver.name}}</td>
					<td>{{driver.email}}</td>
					<td>{{driver.tel}}</td>
					<td>
						<a href="" ng-click="editDriverClick(driver)"><i class="icon-edit"></i></a>
					</td>
				</tr>

			</tbody>
		</table>  	

  </div>
</div>