<form class="form-horizontal" role="form">

  <div class="form-group">
    <label for="driverName" class="col-lg-2 control-label">Имя *</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="driverName" placeholder="Имя">
    </div>
  </div>

  <div class="form-group">
    <label for="driverNick" class="col-lg-2 control-label">Ник</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="driverNick" placeholder="Ник">
    </div>
  </div>

  <div class="form-group">
    <label for="driverEmail" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-10">
      <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="driverPhone" class="col-lg-2 control-label">Телефон</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="driverPhone" placeholder="Телефон">
    </div>
  </div>

</form>
