<div class="btn-group btn-group-xs pull-right hover">
  <button type="button" class="btn btn-primary" ng-click="editButtonClick(item)"><i class="icon-edit"></i></button>
  <button type="button" class="btn btn-danger" ng-click="deleteButtonClick(item)"><i class="icon-trash"></i></button>
</div>