<!DOCTYPE html>
<html lang="en" ng-app="appModule">
	<% include ../_header.ejs %> 
  <body>
		<!-- PAGE: <%= page %> -->
		<% include ../_admin_navbar.ejs %> 

		<div class="container">

			<div class="row">
			  <div 	class="col-md-10 col-md-offset-1" 
			  			ng-controller="driverListCtrl" 
			  			ng-init='init( <%-JSON.stringify(data)%> )'>
			  	<button type="button" class="btn btn-primary btn-sm pull-right"
			  					ng-click="addDriverClick()">
			  		<i class="icon-plus"></i> Добавить
			  	</button>
				  <h2>Пилоты</h2>
					<table ng-show="drivers.length" class="table table-condensed table-hover table-striped">
						<thead>
							<tr>
								<th>Имя</th>
								<th>Ник</th>
								<th>Email</th>
								<th>Телефон</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="driver in drivers">
								<td>{{driver.name}}</td>
								<td><em>{{driver.nick}}</em></td>
								<td>{{driver.email}}</td>
								<td>{{driver.tel}}</td>
								<td>
									<div class="btn-group btn-group-xs">
									  <button type="button" class="btn btn-default" ng-click="editDriverClick(driver)"><i class="icon-edit"></i></button>
									  <button type="button" class="btn btn-danger" ng-click="deleteDriverClick(driver)"><i class="icon-trash"></i></button>
									</div>						
								</td>
							</tr>
						</tbody>
					</table>  	
					<div ng-hide="drivers.length" class="alert alert-info">
						<strong>Нет данных.</strong> Возможно следует <a href="" ng-click="addDriverClick()">добавить пилота</a>?
					</div>
			  </div>
			</div>

		</div> <!-- Container -->
  </body>
</html>




