<!DOCTYPE html>
<html lang="en" ng-app="appModule">
	<% include ../_header.ejs %> 
  <body>
		<!-- PAGE: <%= page %> -->
		<% include ../_admin_navbar.ejs %> 

		<div class="container">

			<div class="row">
			  <div 	class="col-md-6 col-md-offset-3" 
			  			ng-controller="seasonListCtrl" 
			  			ng-init='init( <%-JSON.stringify(data)%> )'>
			  	<button type="button" class="btn btn-primary btn-sm pull-right"
			  					ng-click="addSeasonClick()">
			  		<i class="icon-plus"></i> Добавить
			  	</button>
				  <h2>Сезоны</h2>
					<table ng-show="seasons.length" class="table table-condensed table-hover table-striped">
						<thead>
							<tr>
								<th>Название</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="season in seasons">
								<td>{{season.name}}</td>
								<td width="100px;">
									<div class="btn-group btn-group-xs pull-right hover">
									  <button type="button" class="btn btn-primary" ng-click="editSeasonClick(season)"><i class="icon-edit"></i></button>
									  <button type="button" class="btn btn-danger" ng-click="deleteSeasonClick(season)"><i class="icon-trash"></i></button>
									</div>						
								</td>
							</tr>
						</tbody>
					</table>  	
					<div ng-hide="seasons.length" class="alert alert-info">
						<strong>Нет данных.</strong> Возможно следует <a href="" ng-click="addSeasonClick()">добавить сезон</a>?
					</div>
			  </div>
			</div>

		</div> <!-- Container -->
  </body>
</html>




