<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- JQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>    

  <!-- AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

  <!-- Twitter bootstrap -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet" />

  <!-- bootbox -->
    <script src="/libs/bootbox/bootbox.min.js"></script>

  <!-- Font Awesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Bootswatch -->
		<link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css" rel="stylesheet" />

  <!-- Require.js -->
  <!-- <script data-main="/main" src="/libs/require/require.js"></script> -->

  <!-- Custom Styles -->
    <link href="/styles/style.css" rel="stylesheet" />


  <!-- Custom JS -->
    <script src="/app/ngApp.js"></script>
    <script src="/app/services/editDriverSrvc.js"></script>

    <script src="/app/controllers/driverListCtrl.js"></script>
    <!-- <script src="/app/controllers/driverCtrl.js"></script> -->




  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->
</head>