<!DOCTYPE html>
<html lang="en" ng-app>
	<% include _header.ejs %> 
  <body>
		<% include _admin_navbar.ejs %> 
		<div class="container">

		<h2><%= page %></h2>

			<% if (page == 'index')	{%>
				<% include _nothing.ejs %>
			<%}%>

			<% if (page == 'drivers')	{%>
				<% include admin/admin_drivers.ejs %>
			<%}%>

		</div>
  </body>
</html>
