<!DOCTYPE html>
<html lang="en" ng-app>
	<% include _header.ejs %> 
  <body>
		<% include _user_navbar.ejs %> 
		<div class="container">
			<% include user/content.ejs %> 
			<br/>
  		<% include _nothing.ejs %>
		</div>
  </body>
</html>


