<nav class="navbar navbar-default navbar-static-top" role="navigation">

  <div class="navbar-header">
    <a class="navbar-brand" href="/">Rock-n-roll Racing</a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li <% if (page == 'index') {%> class="active"<%}%>>
        <a href="/admin">Обзор</a>
      </li>

      <li <% if (page == 'drivers') {%> class="active"<%}%>>
        <a href="/admin/drivers">Пилоты</a>
      </li>

      <li <% if (page == 'teams') {%> class="active"<%}%>>
        <a href="/admin/teams">Команды</a>
      </li>

      <!-- 
      <li <% if (page == 'rules') {%> class="active"<%}%>>
        <a href="/admin/rules">Схемы начисления</a>
      </li>
      -->

      <li <% if (page == 'seasons') {%> class="active"<%}%>>
        <a href="/admin/seasons">Сезоны</a>
      </li>


      <li <% if (page == 'races_grouped') {%> class="active"<%}%>>
        <a href="/admin/racesBySeasons">Этапы</a>
      </li>

      <li <% if (page == 'races') {%> class="active"<%}%>>
        <a href="/admin/races">_Этапы</a>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a target="_blank" href="http://getbootstrap.com/css/">Bootstrap 3</a></li>
          <li><a target="_blank" href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a></li>
          <li><a target="_blank" href="http://bootboxjs.com/documentation.html">Bootbox.js API</a></li>
          <li><a target="_blank" href="http://angularjs.org/">Angular.js</a></li>
          <li><a target="_blank" href="http://mongoosejs.com/">Mongoose</a></li>
          <li><a target="_blank" href="https://console.appfog.com/">AppFog</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">DB Links <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a target="_blank" href="http://localhost:28017/db/drivers/">Drivers</a></li>
          <li><a target="_blank" href="http://localhost:28017/db/teams/">Teams</a></li>
          <li><a target="_blank" href="http://localhost:28017/db/seasons/">Seasons</a></li>
          <li><a target="_blank" href="http://localhost:28017/db/races/">Races</a></li>
          <li><a target="_blank" href="http://localhost:28017/db/rules/">Rules</a></li>
          <li><a target="_blank" href="http://localhost:28017/db/results/">Result</a></li>
        </ul>
      </li> 

    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><i class="icon-signout"></i>&nbsp;&nbsp;Выйти</a></li>
    </ul>
    <p class="navbar-text pull-right"><i class="icon-exclamation-sign"></i>&nbsp;&nbsp;Вы вошли как администратор.</p>
  </div>

</nav> 