<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="jumbotron">
      <div class="container">
        <h1>Nothing to do here!</h1>
        <br/>

      </div>
    </div>

  </div>
</div>