<!DOCTYPE html>
<html lang="en" ng-app="appModule">
	<% include _header.ejs %> 
  <body>
		<!-- PAGE: <%= page %> -->
		<% include _admin_navbar.ejs %> 
		<div class="container">

			<% if (page == 'index')	{%>
				<% include _nothing.ejs %>
			<%}%>

		</div>
  </body>
</html>
