<div class="row">
<div class="col-md-10 col-md-offset-1">

<h2>Сезон 2013</h2>

<ul class="nav nav-tabs">
<li class="active"><a href="">Календарь</a></li>
<li><a href="">Личный зачет</a></li>
<li><a href="">Командный зачет</a></li>
<li><a href="">Пилоты</a></li>
<li><a href="">Команды</a></li>
<li><a href="">Правила</a></li>
</ul>

</div>

</div>